.sidebar {
  
  ul {
    color: whitesmoke;
    list-style-type: none;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    li {
      font-family: Inconsolata-Regular;
    }
  }
}