.list {
  text-align: center;
  // margin: 20px;

  h3 {
    margin: 0;
  }
}

.list-item{
  border: 1px solid #f8962c;
  // display: flex;
  // justify-content: center;
  // align-items: center; 
  background-color: rgba(0, 0, 0, 0.103);
  padding: 5px;

}