.task-container {
  width: 80vw;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px,auto));
  grid-auto-rows: auto;
  grid-gap: 10px;

  @media screen and (max-width:820px) {
  width: 70vw;
  grid-template-columns: repeat(2,auto);
  }

  @media screen and (max-width:700px) {
    grid-template-columns: auto;
    }

}